@import "tailwindcss";

body {
    cursor: url('/assets/cursors/wii/default.cur'), auto;
}

*:active {
    cursor: url('assets/cursors/wii/wii-grab.cur'), pointer;
 }

.button-click {
    cursor: url('assets/cursors/wii/wii-move-ccw.cur'), pointer;
 }


 .div-hover {
    cursor: url('assets/cursors/wii/wii-open-ccw.cur'), auto;
 }